{% extends 'base.html' %}
{% load embed_video_tags %}

{% block content %}
<section class="hero is-fullheight is-bold" id="section01">
  <div class="hero-body bg-img">
    <div class="container">
      <h1 class="title main-title" style="font-size: 4em">
        Who sings evil does not think
      </h1>
      <a href="#section02" class="scroll-down" address="true"></a>
    </div>
  </div>
</section>

<section id="section02" class="hero is-fullheight">
    {% if not user.is_authenticated %}
    <div class="has-text-centered">
        <h1 class="title">Latest three songs - lets sing!</h1>
        <h2 class="subtitle">
            To add your favorite songs, listen more or like songs please
            <a href="{% url 'login' %}">login</a> or
            <a href="{% url 'signup' %}">register</a>
        </h2>
    </div>
    <hr>
    {% endif %}

    <div class="tile is-ancestor">
      {% for song in object_list %}
      <div class="tile is-parent">
        <article class="tile is-child box media has-text-centered">
          <figure class="media-content">
            <p class="image">
            {% video song.video as my_video %}
                <img src="{{ my_video.thumbnail }}" style="width: 180px; height: 110px;">
            {% endvideo %}
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <a href="{% url 'song_detail' song.pk %}">
                    <strong>{{ song.band }}</strong>
                </a>
                <br>
                <small>{{ song.name }}</small>
                <br>
                <small>Added by: {{ song.author.username }}</small>
                <br>
                <small>Likes: {{ song.like_set.count }}</small>
              </p>
            </div>
            <nav class="level is-mobile">
              <div class="level-left">
                <a class="level-item">
                  <span class="icon is-small"><i class="fas fa-heart"></i></span>
                </a>
              </div>
            </nav>
          </div>
        </article>
      </div>
      {% if forloop.counter|divisibleby:3 %}
          </div>
          <div  class="tile is-ancestor">
      {% endif %}
      {% endfor %}
    </div>
</section>

<script>
const link = document.getElementsByClassName("scroll-down")[0];
link.addEventListener("click", clickHandler);

function clickHandler(e) {
  e.preventDefault();
  const href = this.getAttribute("href");
  const offsetTop = document.querySelector(href).offsetTop;

  scroll({
    top: offsetTop,
    behavior: "smooth"
  });
}
</script>

{% endblock content %}
