{% extends 'base.html' %}

{% block content %}
<form method="post">{% csrf_token %}
    <div class="field">
      <label for="id_name" class="label">Song Name</label>
      <div class="control has-icons-left">
        <input class="input" value="{{ form.name.value }}" type="text" placeholder="Song name" name="name" required id="id_name" maxlength="254">
        <span class="icon is-small is-left">
          <i class="fa fa-envelope"></i>
        </span>
      </div>
    </div>
    <div class="field">
      <label for="id_band" class="label">Band</label>
      <div class="control has-icons-left">
        <input class="input" value="{{ form.band.value }}" type="text" placeholder="Band" name="band" required id="id_band" maxlength="254">
        <span class="icon is-small is-left">
          <i class="fa fa-envelope"></i>
        </span>
      </div>
    </div>
    <div class="field">
      <label for="id_lyrics" class="label">Lyrics</label>
      <div class="control has-icons-left">
          <textarea class="textarea" placeholder="Band" name="lyrics" required id="id_lyrics" maxlength="254">
              {{ form.lyrics.value|safe|escape }}
          </textarea>
        <span class="icon is-small is-left">
          <i class="fa fa-envelope"></i>
        </span>
      </div>
    </div>
    <div class="field">
      <label for="id_video" class="label">Video Link</label>
      <div class="control has-icons-left">
        <input class="input" value="{{ form.video.value }}" type="text" placeholder="Band" name="video" required id="id_video" maxlength="254">
        <span class="icon is-small is-left">
          <i class="fa fa-envelope"></i>
        </span>
      </div>
    </div>
    <div class="field">
      <button class="button is-success">
        Update
      </button>
    </div>
</form>
{% endblock content %}